<head>
    <script>
        window.location.replace("https://nextgenedits2.wixsite.com/nextgenedits");
    </script>
</head>

<body>
    <a href="https://nextgenedits2.wixsite.com/nextgenedits"></a>
</body>